<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios_02</title>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>

    <div id="app">
        <table border="1" cellspacing="0" width="60%">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>图像</th>
                <th>性别</th>
                <th>职位</th>
                <th>入职日期</th>
                <th>最后操作时间</th>
            </tr>

            <tr align="center" v-for="(item,index) in emps.data">
                <td>{{index=1}}</td>
                <td>{{item.name}}</td>
                <td>
                    <img v-bind:src="item.image" width="70px" height="50px">
                </td>
                <td>
                    <span v-if="item.gender==1">男</span>
                    <span v-if="item.gender==2">女</span>
                </td>
                <td>{{item.job}}</td>
                <td>{{item.entrydate}}</td>
                <td>{{item.updatetime}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            emps:[]
        },
        mounted(){
            //发送异步请求发送数据
            axios.get("http://yapi.smart-xwork.cn/mock/169327/emp/list").then(result=>{
               this.emps=result.data;
            })
        }
    })
</script>
</html>